/* 
Title:		Master styles for screen media on iPhone
Author: 	richie@wingtipmarketing.com
*/
/* iphone.css */

h1 {
	font-size: 6em;
	text-shadow: rgb(18, 39, 6) 0 1px 2px;

}

h3 {
	font-size: 2.4em;
}
p {
	font-size: 1.2em;

}